<!doctype html>
{% load static %}
<html lang="ru" class="h-100">
<head>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}{% endblock %}</title>
</head>
<body>
  <div class="header">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
      {% csrf_token %}
      <a href="/films"><img src="http://127.0.0.1:9000/lab1/Screenshot%202024-09-19%20at%2014.25.50.png" class="logo"></a>
  </div>
    {% block content %}{% endblock %}
</body>
</html>