{% extends "base.html" %}
{% load static %}

{% block content %}
    <main class="container">

        <div class="row">
            <div class="col-6">
                <img src="{{ film.get_image }}" class="film-image" alt=""/>
            </div>
            <div class="col-6 d-flex flex-md-column gap-md-3">

                <h1>{{ film.name }}</h1>

                <span>Описание: {{ film.description }}</span>

                <span>Продолжительность: {{ film.time }}мин</span>

                <span>Страна: {{ film.country }}</span>

                <span>Год выпуска: {{ film.year }}</span>

                <a href="/" class="return-btn btn btn-primary my-4 w-25">
                    Назад
                </a>

            </div>
        </div>

    </main>
{% endblock content %}