{% load static %}

{% if "http://localhost:8000/historys/" in request.build_absolute_uri or "http://127.0.0.1:8000/historys/" in request.build_absolute_uri %}
    <div class="card w-100 mb5">
         <div class="row g-0">
            <div class="col-md-6 d-flex justify-center">
                <img src="{{ film.get_image }}">
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <h5 class="card-title">{{ film.name }}</h5>
                    <p class="card-text">Продолжительность: {{ film.time }}мин</p>
                    <div class="form-group">
                        <label class="form-label">Просмотрено (мин)</label>
                        {% if film.value %}
                            <input placeholder="Введите просмотрено" disabled type="text" class="form-control" style="width: 250px" value="{{ film.value }}">
                        {% else %}
                            <input placeholder="Введите просмотрено" disabled type="text" class="form-control" style="width: 250px">
                        {% endif %}
                    </div>
                    <a href="/films/{{ film.id }}/" class="btn btn-primary" style="width: 100px">
                        Открыть
                    </a>
                </div>
            </div>
         </div>
    </div>
{% else %}
    <div class="card">
        <img src="{{ film.get_image }}" class="film-preview" alt=""/>
        <div class="card-body" >
            <div class="card-info">
                <h5 class="card-title">{{ film.name }}</h5>
                <p class="card-text">Продолжительность: {{ film.time }}мин</p>
            </div>
            <div class="row card-btns">
                <div class="col d-flex justify-content-center flex-grow-1">
                    <a href="/films/{{ film.id }}" class="btn btn-primary">
                        Открыть
                    </a>
                </div>
                <form method="post" action="{% url 'add_film_to_draft_history' film.id %}" class="col d-flex justify-content-center">
                    {% csrf_token %}
                    <button class="add-btn btn btn-secondary" type="submit">
                        Добавить
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endif %}